html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: black;
	outline: none;
	text-decoration: none !important;
	/*-webkit-tap-highlight-color: rgba(0, 0, 0, 1);*/
}

a.image-link:focus {
	outline: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: black;
	text-decoration: none !important;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.app-navbar{
	display: flex;
	position: fixed;
	bottom: 0;
	list-style: none;
	width: 100%;
	justify-content: space-evenly;
	padding: 0;
	margin: 0;
	background-color: black;
}

.friend-chat-header{
	display: flex !important;
	position: sticky;
	top: 0;
	width: 100%;
	text-align: center;
	margin: 0;
	background-color: currentColor;
	font-weight: bold;
	z-index: 3;
	box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.friend-chat-saisie{
	display: flex;
	position: sticky;
	bottom: 0;
	width: 100%;
	margin: 0;
	background-color: white;
	box-shadow: 0px 5px 5px 5px rgba(0,0,0,.2);
	border-radius: 5px 5px 0 0;
}

.top-app-bar-container {
	overflow: auto;
	display: inline-block;
}
.flexy {
	display: flex;
	flex-wrap: wrap;
}
.flexor {
	display: inline-flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.flexor-content {
	background: currentColor;
	margin-bottom: 48px;
	flex-grow: 1;
	overflow: auto;
	/*background-color: #f2f2f2;*/
	height: calc(100vh - 126px);
}

.app-bg-color{
	background-color: #f2f2f2;
}

.row{
	display: flex !important;
	flex-flow: row !important;
}

.col{
	display: flex !important;
	flex-flow: column !important;
}

.w100{
	width: 100% !important;
}

.w90{
	width: 90% !important;
}

.w75{
	width: 75% !important;
}

.w50{
	width: 50% !important;
}

.w30{
	width: 30% !important;
}

.h100{
	height: 100% !important;
}

.h50{
	height: 50% !important;
}

.m-0{
	margin: 0 !important;
}

.m-5{
	margin: 5px !important;
}

.m-10{
	margin: 10px !important;
}

.mt-0{
	margin-top: 0px !important;
}

.mt-5{
	margin-top: 5px !important;
}

.mt-10{
	margin-top: 10px !important;
}

.mt-20{
	margin-top: 20px !important;
}

.mt-30{
	margin-top: 30px !important;
}

.mt-50{
	margin-top: 50px !important;
}

.ml-5{
	margin-left: 5px !important;
}

.ml-10{
	margin-left: 10px !important;
}

.ml-20{
	margin-left: 20px !important;
}

.mb-10{
	margin-bottom: 10px !important;
}

.mb-5{
	margin-bottom: 5px !important;
}

.mr-5{
	margin-right: 5px !important;
}

.mr-10{
	margin-right: 10px !important;
}

.mr-20{
	margin-right: 20px !important;
}

.p-0{
	padding: 0 !important;
}

.p-5{
	padding: 5px !important;
}

.p-10{
	padding: 10px !important;
}

.pt-5{
	padding-top: 5px !important;
}

.pb-5{
	padding-bottom: 5px !important;
}

.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-center{
	text-align: center !important;
}

.white{
	color: white !important;
}

.bg-white{
	background-color: white !important;
}

.bg-lightblue{
	background-color: lightblue !important;
}

.bold{
	font-weight: bold;
}

.larger{
	font-size: larger;
}

.map {
	width: 100%;
	height: 100%;
}

.horizontal-list{
	margin-top: 10px;
	display: flex;
	flex-flow: row;
	overflow: overlay;
}

.header-button{
	display: flex !important;
	width: fit-content;
	margin: 0 auto;
}

.carousel{
	position: relative;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.carousel-image-container{
	width: auto !important;
	display: flex;
}

.carousel-image{
	width: -webkit-fill-available;
}

.round-border {
	border: 1px solid darkgray !important;
	border-radius: 25px;
}

.shop-item-title{
	text-align: center;
	text-decoration: underline;
}

.online-friend{
	padding: 10px 10px 0;
	text-align: center;
	display: flex;
	flex-flow: column;
}

.dot {
	height: 10px;
	width: 10px;
	background-color: green;
	border-radius: 50%;
	display: inline-block;
}

.map-container{
	margin: 10px;
	height: 50%;
}